[submodule "repos/llvm"]
	path = repos/llvm
	url = https://github.com/tbfleming/cib-llvm.git
[submodule "repos/llvm-tools/clang"]
	path = repos/llvm-tools/clang
	url = https://github.com/tbfleming/cib-clang.git
[submodule "repos/llvm-tools/lld"]
	path = repos/llvm-tools/lld
	url = https://github.com/llvm-mirror/lld.git
[submodule "repos/llvm-projects/compiler-rt"]
	path = repos/llvm-projects/compiler-rt
	url = https://github.com/llvm-mirror/compiler-rt.git
[submodule "repos/llvm-projects/libcxx"]
	path = repos/llvm-projects/libcxx
	url = https://github.com/llvm-mirror/libcxx.git
[submodule "repos/llvm-projects/libcxxabi"]
	path = repos/llvm-projects/libcxxabi
	url = https://github.com/llvm-mirror/libcxxabi.git
[submodule "repos/emscripten"]
	path = repos/emscripten
	url = https://github.com/emscripten-core/emscripten.git
[submodule "repos/binaryen"]
	path = repos/binaryen
	url = https://github.com/WebAssembly/binaryen.git
[submodule "repos/zip.js"]
	path = repos/zip.js
	url = https://github.com/gildas-lormeau/zip.js.git
[submodule "repos/golden-layout"]
	path = repos/golden-layout
	url = https://github.com/golden-layout/golden-layout.git
